In [3]:
import pandas as pd
import numpy as np

In [4]:
random_matrix = np.random.rand(4, 3)
random_matrix

array([[0.14210297, 0.02349815, 0.97807331],
       [0.64851304, 0.57214312, 0.6090578 ],
       [0.23196381, 0.91914856, 0.48801867],
       [0.77265266, 0.96273588, 0.95959208]])

In [5]:
df = pd.DataFrame(random_matrix, columns=list("abc"))
df

          a         b         c
0  0.142103  0.023498  0.978073
1  0.648513  0.572143  0.609058
2  0.231964  0.919149  0.488019
3  0.772653  0.962736  0.959592

In [14]:
df.loc[0]  # Cross section

a    0.853988
b    0.513880
c    0.353544
Name: 0, dtype: float64

In [16]:
df.loc[0, "a"]  # Single item

0.8539882051764113

In [24]:
df.loc[0:3, "a":"c"]  # Inclusive bounds!!

          a         b         c
0  0.853988  0.513880  0.353544
1  0.685164  0.832235  0.894152
2  0.678022  0.276708  0.989912
3  0.040611  0.627231  0.408839

In [26]:
df.loc[:, :]  # Omitting start and end in X and omitting start and end in Y, gets everything

          a         b         c
0  0.853988  0.513880  0.353544
1  0.685164  0.832235  0.894152
2  0.678022  0.276708  0.989912
3  0.040611  0.627231  0.408839

In [28]:
df.loc[:, ["a", "c"]]  # Listing column names instead of slicing

          a         c
0  0.853988  0.353544
1  0.685164  0.894152
2  0.678022  0.989912
3  0.040611  0.408839

In [30]:
df.loc[[0, 2], :]  # Listing lines indexes instead of slicing

          a         b         c
0  0.853988  0.513880  0.353544
2  0.678022  0.276708  0.989912

In [32]:
df.loc[[0, 2], ["a", "c"]]  # Specifying columns names and lines indices

          a         c
0  0.853988  0.353544
2  0.678022  0.989912

In [17]:
df.iloc[[0, 1], [0, 2]]

          a         c
0  0.142103  0.978073
1  0.648513  0.609058

In [33]:
df.loc[[True, False, True, False]]  # Applying a mask on indices

          a         b         c
0  0.853988  0.513880  0.353544
2  0.678022  0.276708  0.989912

In [41]:
df.loc[:, [True, False, True]]  # Applying a mask over columns (Is it usefull??)

          a         c
0  0.853988  0.353544
1  0.685164  0.894152
2  0.678022  0.989912
3  0.040611  0.408839

In [39]:
mask = df["a"] > .5  # Generating a mask
mask

0     True
1     True
2     True
3    False
Name: a, dtype: bool

In [40]:
df[mask]  # Applying a mask

          a         b         c
0  0.853988  0.513880  0.353544
1  0.685164  0.832235  0.894152
2  0.678022  0.276708  0.989912

In [45]:
df[["a", "b"]] = df[["b", "a"]]  # Swapping columns
df

          a         b         c
0  0.513880  0.853988  0.353544
1  0.832235  0.685164  0.894152
2  0.276708  0.678022  0.989912
3  0.627231  0.040611  0.408839

In [46]:
df.a  # Works, too as an attribute

0    0.513880
1    0.832235
2    0.276708
3    0.627231
Name: a, dtype: float64

In [51]:
df["d"] = df["a"] - df["a"].mean()  # Creates a new column by assigning a series to it
df

          a         b         c         d
0  0.513880  0.853988  0.353544 -0.048633
1  0.832235  0.685164  0.894152  0.269722
2  0.276708  0.678022  0.989912 -0.285806
3  0.627231  0.040611  0.408839  0.064718

In [53]:
df.loc[0] = {"a": 0, "b": 1, "c": 2, "d": 3}  # Updates a row by assigning a dict to it
df

          a         b         c         d
0  0.000000  1.000000  2.000000  3.000000
1  0.832235  0.685164  0.894152  0.269722
2  0.276708  0.678022  0.989912 -0.285806
3  0.627231  0.040611  0.408839  0.064718

In [63]:
(df - df.mean()).loc[lambda df: df["a"] > 0]  # .loc also accepts df, easing chaining of functions.

          a         b         c         d
1  0.398192  0.084214 -0.179073 -0.492437
3  0.193188 -0.560338 -0.664387 -0.697440

In [ ]:
df.